<?xml version="1.0"?>
<launch>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 chassis hokuyo 100" /> 

  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <remap from="scan" to="mybot/laser/scan"/>
    <param name="base_frame" value="chassis"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="25"/>
    <param name="resolution" value="0.025"/>
    <rosparam command="load" file="$(find mybot_navigation)/config/karto_mapper_params.yaml" />
  </node>

</launch>
